# Mrcore Exclusions
/files/*
!/files/mrcore
!/workbench/theme/current-theme
!/workbench/theme/default-theme
/workbench/*
!/workbench/mrcore
!/workbench/artisan.php
!/workbench/config.php
!/workbench/register.php
!/workbench/theme
/public/uploads/*
!/public/uploads/avatar_user1.png
!/public/uploads/avatar_user2.png
!/public/uploads/badge1.png

# Common Exclusions
/bootstrap/compiled.php
vendor
node_modules
#composer.phar
#composer.lock #should be in git?
/vendor
/node_modules
.env
/.local
.DS_Store
Thumbs.db
.nfs*
.swp
